# Ignore compiled binaries
touchymcrootface-darwin-arm64
touchymcrootface-darwin-amd64
touchymcrootface

# Common macOS files
.DS_Store

# IDE files
.vscode/
.idea/

# Local development files
setup-touchid
